{% extends 'base.html' %}

{% block title %}Blog Institute | Edit Blog{% endblock %}

{% block content %}
<div class="container blog_container">
          
  <h1 class="m-3 text-center allblogs">Edit BLOG</h1>
  {% if messages %}
  
    {% for message in messages %}
  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} 

  {% endif %}
  {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field,  error in form.errors.items %}
            <li>{{ error }}</li>
            {% endfor %} 
        </ul>
    </div>
    {% endif %}
  <hr class="mb-3" />
  <div class="row mb-5">
      <form  method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group mb-3">
              <label for="inputAddress2">Title</label>
              <input type="file" class="form-control" name="{{form.image.name}}" id="inputAddress2" placeholder="Enter Blog Image..." value="{{form.image.value}}" >
          </div>
          <div class="form-group mb-3">
              <label for="inputAddress2">Title</label>
              <input type="text" class="form-control" value="{{form.title.value}}" name="{{form.title.name}}" id="inputAddress2" placeholder="Enter title..." required>
          </div>
          <div class="form-group mb-3">
              <label for="exampleFormControlTextarea1">Blog Content</label>
              <textarea class="form-control" value="{{form.content.value}}" name="{{form.content.name}}" id="exampleFormControlTextarea1" rows="5" required> {{form.content.value}} </textarea>
            </div>

          <button type="submit" class="btn btn-primary w-100"  > Edit Blog </button>
          
      </form>
   
  </div>
{% endblock %}