{% extends 'base.html' %}

{% block title %}Blog Institute | Blog Details{% endblock %}

{% block content %}
          
  <h1 class="m-3 text-center">{{blog.title}}</h1>
  {% if messages %}
  
  {% for message in messages %}
  
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %} 

{% endif %}
  {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field,  error in form.errors.items %}
            <li>{{ error }}</li>
            {% endfor %} 
        </ul>
    </div>
    {% endif %}
  <hr class="mb-3" />
  <div class="row mb-5">
      <div class="container_listing">
          <div class="list_detail_flex">
              <div class="list_detail">
                      
  
                  <div class="detail">
                      <img src="{{blog.image.url}}" width="100%" >
                  </div>
                  <h2>{{blog.title}}</h2>
               
                  <div class="list_description">
                      <p>{{blog.content}}</p>
                  </div>
              </div>
  
  
  
              <div class="list_detail_reviews">
                  <div class="give_rev">
                      <h3>Leave a comment</h3>
                  </div>
                  {% if request.user.is_authenticated %}
                  <form method="post">
                      {% csrf_token %}
                      <div class="review_form">
                        <textarea  id="" cols="30" rows="10" name="{{form.content.name}}"  placeholder="Post Your Comment ....."></textarea>
  
                      </div>
  
                      <div class="post_comment">
                        <button type="submit">Post Comment</button>
                      </div>
                  </form>
                  {% else %}
                  <a href="{% url 'login' %}" class="item_1" style="text-decoration:none;" >First Login to leave the comment. </a>
                  {% endif %}
  
                      <div class="all_rev">
                        <div class="rev_head">
                          <h2>Reviews</h2>
                        </div>
                     
                      </div>
  
                      {% for comment in blog.comments.all %}
                      <div class="client_review">
                        <div class="client_name">
                          <img src="{% static 'images/profilecircle.png' %}" width="35px"  alt="">
                          <p>{{comment.user.first_name}}</p>
                        </div>
                        <div class="rev_text">
                          <p>{{comment.content}}</p>
                        </div>
                      </div>
                      {% endfor %}
                
  
              </div>
          </div>
      </div>
   
  </div>


{% endblock %}

