<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  </head>
  <body>
    <!-- footer section  Start-->
    <footer class="footer">
        <div class="red-section" ></div>
        <div class="footerText">
            <h1>Your Blog Journey Starts Here</h1>
            <h3>Click here to get registered</h3>
            <a href="{% url 'signup' %}" class="signup-link"><h2 class="text-danger">SIGN UP</h2></a>
        </div>
        <div class="black-section">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 logo-link-col">
                    <a href="{% url 'home' %}" class="logo-link">
                        <h2 class="text-danger">LOGO</h2>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'addblog' %}" class="nav-link">Address  1 is here</a>
                        </li>
                        <li>
                            <a href="{% url 'myblogs' %}" class="nav-link">Address  2 is here</a>
                        </li>
                        <li>
                            <a href="{% url 'myblogs' %}" class="nav-link">Address  3 is here</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-12">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'addblog' %}" class="nav-link">Course</a>
                        </li>
                        <li>
                            <a href="{% url 'myblogs' %}" class="nav-link">Back to call</a>
                        </li>
                        <li>
                            <a href="{% url 'myblogs' %}" class="nav-link">Take Quiz</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-12">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'addblog' %}" class="nav-link">FaceBook</a>
                        </li>
                        <li>
                            <a href="{% url 'myblogs' %}" class="nav-link">InstaGram</a>
                        </li>
                        <li>
                            <a href="{% url 'myblogs' %}" class="nav-link">Whatsapp</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-12">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'addblog' %}" class="nav-link">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="{% url 'myblogs' %}" class="nav-link">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="{% url 'myblogs' %}" class="nav-link">Disclaimer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
       <div class="copy_rightDiv">
        <p class="copy_right">© 2023 PropStart Pty Ltd ABN 43 667 595 155. All rights reserved</p>
       </div>
    </footer>
    
  </body>
</html>
